@import '../../shared.scss';

/*
==========================================================================
   MonthPicker component
==========================================================================
*/

.month-selector-container {
    align-items: flex-end;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 0 $big-margin $big-margin 0;
    min-width: 175px;

    svg {
        fill: $primary-color;
        cursor: pointer;
        height: 24px;
        width: 24px;
    }
}
.selected-month {
    color: $primary-bg-color;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0 $small-margin;
}
