@import '../../shared.scss';

/*
==========================================================================
   Profile container
==========================================================================
*/

.info-update-card {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: calc(50% - #{$big-margin} * 2.5);
}
.profile-fields-wrapper {
    display: flex;
    flex-direction: column;

    .labelled-field {
        margin-bottom: $big-margin / 2;
    }
    .generic-btn {
        margin: $small-margin 0 0;
    }
}
#profile-container {
    align-items: flex-start;
    justify-content: initial;
    max-width: 1500px;
}
#fname-update-card {
    margin-left: $big-margin;
}
#reset-profile-card {
    margin-top: $big-margin;

    .generic-card-title {
        color: $danger-color;
    }
    .generic-btn {
        background-color: $danger-color;

        .loading-spinner {
            border-color: $danger-color-dark;
            border-top-color: white;
        }
        &:hover {
            background-color: $danger-color-dark;
        }
        &:disabled {
            background-color: $danger-color;
        }
    }
}
.reset-explanations {
    color: $primary-bg-color;
    font-size: 1.1em;
    line-height: 1.3em;
    margin: 0 0 $small-margin;
}

/*
   Breakpoints
==========================================================================
*/

@media (max-width: map-get($breakpoints, tablet)) {
    .info-update-card {
        width: 100%;
    }
    #fname-update-card {
        margin-left: 0;
        margin-top: $big-margin;
    }
}
