@import '../../shared.scss';

/*
==========================================================================
   Login container
==========================================================================
*/

.login-container {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: $big-margin;
    margin: $small-margin 0;
    text-align: center;

    .labelled-field {
        margin-bottom: $big-margin / 2;
        min-width: 300px;
        width: 100%;
    }
    .generic-btn {
        width: 100%;
    }
    .message-container {
        width: calc(100% - 16px * 2);
    }
}
.greetings-paragraph {
    font-size: 2em;
    letter-spacing: 0.05em;
    margin: 0 0 $big-margin;
}
#login-btn {
    margin: $small-margin 0 $big-margin;
}
.toggle-registered-btn {
    -webkit-appearance: none;
    background-color: white;
    border: none;
    color: $primary-color;
    cursor: pointer;
    font-weight: 700;
    outline: none;
    transition: color, 0.3s;

    &:hover {
        color: $primary-color-dark;
    }
}

/*
   Breakpoints
==========================================================================
*/

@media (max-width: map-get($breakpoints, phone)) {
    .login-container {
        border-radius: 0;
        margin: 0;
        padding: $big-margin $small-margin;
        width: 100%;

        .labelled-field {
            min-width: initial;
        }
    }
}
