@import '../../shared.scss';

/*
==========================================================================
   LostPassword container
==========================================================================
*/

.reset-password-container {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 40px;

    .labelled-field {
        margin-bottom: $small-margin;
        min-width: 300px;
        width: 100%;
    }
    .generic-btn {
        width: 100%;
    }
    .message-container {
        width: calc(100% - 16px * 2);
    }
}
#reset-password-btn {
    margin: $small-margin 0 $big-margin;
}
.back-home-link {
    color: $primary-color;
    font-weight: 600;
    text-decoration: none;
}
