@import 'shared.scss';

/*
==========================================================================
   Analytics container
==========================================================================
*/

.dashboard-main-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    width: 100%;
}
.chart-container {
    height: 100%;
    width: 100%;
}
.charts-container {
    display: flex;
    justify-content: space-between;
    margin: 0 $big-margin $big-margin;
}
.dashboard-top-container {
    display: flex;
    justify-content: flex-end;
    margin: $big-margin;
}
.chart-title {
    font-size: 1.5em;
    margin: $small-margin 0 $big-margin;
}
.chart-wrapper {
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    padding: $small-margin $big-margin $big-margin;
    transition: box-shadow 0.2s;
    width: calc(50% - (#{$big-margin} * 3));

    &:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
            0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }
}
.chart-error-message {
    font-weight: 600;
    text-align: center;
}
#monthlybarchart,
#treemapchart {
    height: 600px;
}
