@import 'shared.scss';

/*
==========================================================================
   Analytics container
==========================================================================
*/

.dashboard-container {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: $big-margin;
    width: 100%;
}
.chart-container {
    height: 600px;
    width: 100%;
}
.chart-title {
    font-size: 1.5em;
    margin: $small-margin 0 $small-margin;
}
