@import 'shared.scss';

/*
==========================================================================
   Analytics container
==========================================================================
*/

.chart-wrapper {
    display: flex;
    flex-direction: column;
    width: calc(50% - (#{$big-margin} * 2.5));
}
.chart-container {
    display: flex;
    height: 500px;
    width: 100%;
}
#monthlybarchart,
#budgetlinechart,
#treemapchart,
.text-card-containter {
    margin-bottom: $big-margin;
}
#treemapchart {
    width: 100%;
}

/*
   Averages component
==========================================================================
*/

.text-card-containter {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.text-card-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 123px;
    width: calc(33% - (#{$big-margin} * 2.5));
}
.average-card-title {
    font-size: 1.5em;
    margin: $big-margin 0 0;
    text-align: center;
}
.text-card-amount {
    color: $primary-bg-color;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
}
.text-card-subtitle {
    color: $disabled-color;
    margin: $small-margin 0 0;
    font-weight: 600;
}
