@import 'shared.scss';

/*
==========================================================================
   App container
==========================================================================
*/

body {
  background-color: $primary-color;
  color: $primary-color;
  font-family: $primary-font-family;
}
.app {
  align-items: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
}
