@import 'shared.scss';

/*
==========================================================================
   App container
==========================================================================
*/

html,
body {
    height: 100%;
}
#root {
    align-items: center;
    background-color: $primary-color;
    color: $primary-color;
    display: flex;
    font-family: $primary-font-family;
    height: 100%;
    justify-content: center;

    > .loading-spinner {
        border-color: $primary-color-dark;
        border-top-color: white;
    }
}
.generic-chip {
    background-color: $primary-color;
    color: white;
    border-radius: 16px;
    padding: 5px 12px;
}
.generic-row-action-btn {
    -webkit-appearance: none;
    background-color: white;
    border: none;
    color: $primary-color;
    cursor: pointer;
    font-family: $primary-font-family;
    font-size: 16px;
    font-weight: 600;
    padding: 0;

    &:hover {
        border-bottom: 2px solid $primary-color;
    }
    &:focus {
        outline: none;
    }
}
.generic-card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: $big-margin;
    transition: box-shadow 0.2s;

    &:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
            0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }
}
.generic-card-title {
    color: $primary-bg-color;
    font-size: 1.2em;
    margin: 0 0 $big-margin;
}
.generic-card-subtitle {
    color: $disabled-color;
    line-height: 1.25em;
    margin: 0 0 $small-margin;
    font-weight: 600;
}
.generic-card-separator {
    background-color: $disabled-color;
    height: 1px;
    margin: $small-margin 0;
    width: 100%;
}
.page-container {
    background-color: $secondary-bg-color;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.content-container {
    overflow-y: auto;
}
.inner-content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 $big-margin $big-margin;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
