@import 'shared.scss';

/*
==========================================================================
   App container
==========================================================================
*/

html,
body {
    height: 100%;
}
#root {
    align-items: center;
    background-color: $primary-color;
    color: $primary-color;
    display: flex;
    font-family: $primary-font-family;
    height: 100%;
    justify-content: center;
}
.section-title {
    color: $primary-bg-color;
    margin: $big-margin;
}
