@import 'shared.scss';

/*
==========================================================================
   Fire container
==========================================================================
*/

.fire-number-card {
    display: flex;
    width: 100%;

    .labelled-field {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: $small-margin 0;
    }
    .generic-label {
        font-weight: 600;
        width: initial;
    }
    .generic-input {
        color: $primary-bg-color;
        font-weight: 600;
        max-width: 150px;
        min-width: initial;
    }
    .generic-card-title {
        margin-bottom: $small-margin;

        &:nth-of-type(2) {
            margin-top: $big-margin;
        }
    }
    .message-container {
        margin-top: $small-margin;
    }
}
.fire-number-col {
    display: flex;
    flex-direction: column;
    width: calc(50% - #{$small-margin});
}
.fire-number-explanation {
    margin-top: $big-margin;
}
.fire-number-amount-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.fire-amount-explanation {
    font-weight: 600;
    margin: 0;
}
.fire-number-amount {
    color: $primary-bg-color;
    font-size: 2em;
    font-weight: 600;
    text-align: right;
}
.retirement-line-chart {
    display: flex;
    height: 500px;
    margin-top: $big-margin;
    width: 100%;
}
