@import 'shared.scss';

/*
==========================================================================
   LabelledField component
==========================================================================
*/

.labelled-field {
    display: flex;
    flex-direction: column;
}
.generic-label {
    color: $primary-color;
    font-family: $primary-font-family;
    margin-bottom: 5px;
    text-align: left;
}
.generic-input {
    &[type='email'],
    &[type='text'],
    &[type='password'],
    &[type='date'],
    &[type='number'] {
        border: hsl(0,0%,80%) solid 1px;
        color: $primary-color;
        font-family: $primary-font-family;
        min-width: 300px;
        padding: 15px;
    }
    &:focus {
        outline: $primary-color solid 2px;
    }
    &:hover {
        border-color: hsl(0,0%,70%);
    }
}
