@import 'shared.scss';

/*
==========================================================================
   Login component
==========================================================================
*/

.login-container {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;

    .labelled-field {
        margin-bottom: $default-margin / 2;
    }
}
.greetings-paragraph {
    font-size: 2em;
    letter-spacing: 0.05em;
    margin: 0 0 $default-margin;
}
#login-btn {
    margin: ($default-margin / 2) 0 $default-margin;
}
.toggle-registered-btn {
    -webkit-appearance: none;
    border: none;
    color: $primary-color;
    cursor: pointer;
    font-weight: 700;
    outline: none;
    transition: color, 0.3s;

    &:hover {
        color: $primary-color-dark;
    }
}