@import 'shared.scss';

/*
==========================================================================
   Login component
==========================================================================
*/

.login-container {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;

    .labelled-field {
        margin-bottom: $default-margin / 2;
    }
}
.greetings-paragraph {
    font-size: 2em;
    letter-spacing: 0.05em;
    margin: 0 0 $default-margin;
}
#login-btn {
    margin: ($default-margin / 2) 0 $default-margin;

    &:focus {
        outline: none;
    }
}
.toggle-registered-btn {
    -webkit-appearance: none;
    border: none;
    color: $primary-color;
    cursor: pointer;
    font-weight: 700;
    outline: none;
    transition: color, 0.3s;

    &:hover {
        color: $primary-color-dark;
    }
}
.message-container {
    background-color: #f8d7da;
    color: #d32f2f;
    margin: 0;
    outline: 1px solid #d32f2f;
    padding: 16px;

    &.success {
        background-color: #d4edda;
        color: #43a047;
        outline: 1px solid #43a047;
    }
}