@import 'shared.scss';

/*
==========================================================================
   Operations container
==========================================================================
*/

.operations-container {
    background-color: $secondary-bg-color;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.table-container {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
    margin: 0 $big-margin $big-margin;

    .MuiTableCell-root {
        font-family: $primary-font-family;
        font-size: 16px;

        &.MuiTableCell-head {
            font-weight: 600;
        }
    }
}
.row-action-btn {
    -webkit-appearance: none;
    background-color: white;
    border: none;
    color: $primary-color;
    cursor: pointer;
    font-family: $primary-font-family;
    font-size: 16px;
    font-weight: 600;
    padding: 0;

    &:last-child {
        margin-left: $small-margin;
    }
    &:hover {
        border-bottom: 2px solid $primary-color;
    }
    &:focus {
        outline: none;
    }
}
.category-select {
    color: $primary-color;
}
.date-chip {
    background-color: $primary-color;
    color: white;
    border-radius: 16px;
    padding: 5px 12px;
}
.amount-cell {
    font-weight: 600;
}
