@import 'shared.scss';

/*
==========================================================================
   Operations container
==========================================================================
*/

.operations-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $big-margin;
    width: 100%;
}
.action-buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: $big-margin;
    width: 100%;

    .generic-btn {
        margin-left: $small-margin;
    }
}
.table-container {
    border: 5px solid $primary-color;
    overflow: auto;
    width: 100%;

    .MuiTableCell-root {
        font-family: $primary-font-family;
        font-size: 16px;

        &.MuiTableCell-head {
            font-weight: 600;
        }
    }
}
.row-action-btn {
    -webkit-appearance: none;
    background-color: white;
    border: none;
    color: $primary-color;
    cursor: pointer;
    font-family: $primary-font-family;
    font-size: 16px;
    font-weight: 600;
    padding: 0;

    &:last-child {
        margin-left: $small-margin;
    }
    &:hover {
        border-bottom: 2px solid $primary-color;
    }
    &:focus {
        outline: none;
    }
}
