@import 'shared.scss';

/*
==========================================================================
   Operations container
==========================================================================
*/

.operations-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $big-margin;
    width: 100%;
}
.action-buttons-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: $big-margin;
    width: 100%;

    .generic-btn {
        margin-left: $small-margin;
    }
}
.table-container {
    border: 5px solid $primary-color;
    overflow: auto;
    width: 100%;

    .MuiTableCell-root {
        font-family: $primary-font-family;
        font-size: 16px;

        &.MuiTableCell-head {
            font-weight: 600;
        }
    }
}