@import 'shared.scss';

/*
==========================================================================
   Profile container
==========================================================================
*/

.profile-container {
    background-color: $secondary-bg-color;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .labelled-field {
        margin-right: $big-margin;
    }
}
.password-update-container {
    margin: 0 $big-margin $big-margin;
}
.profile-fields-wrapper {
    align-items: flex-end;
    display: flex;
}
