@import 'shared.scss';

/*
==========================================================================
   Profile container
==========================================================================
*/

.profile-container {
    background-color: $secondary-bg-color;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.profile-content-wrapper {
    display: flex;
    margin: 0 $big-margin $big-margin;
}
.profile-fields-wrapper {
    display: flex;
    flex-direction: column;

    .labelled-field {
        margin-bottom: $big-margin / 2;
    }
}
#update-pwd-btn {
    margin: $small-margin 0 0;
}
