@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary-font-family: 'Nunito', sans-serif;
$primary-color: #007944;
$primary-color-dark: #00542f;

$default-margin: 40px;