@import 'shared.scss';

/*
==========================================================================
   SideMenu component
==========================================================================
*/

.side-menu-container {
    align-items: start;
    display: flex;
    flex-direction: column;

    .side-menu-item {
        -webkit-appearance: none;
        background-color: white;
        border: none;
        color: $primary-color;
        cursor: pointer;
        font-family: $primary-font-family;
        font-size: 1.5em;
        margin: ($default-margin / 2) 0;
        padding: 0;
        text-decoration: none;

        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:focus {
            outline: none;
        }
    }
}
