@import '../shared.scss';

/*
==========================================================================
   CardErrorMessage component
==========================================================================
*/

.chart-error-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;

    &.mobile-error {
        display: none;
    }
    svg {
        fill: $disabled-color;
        height: 40px;
        width: 40px;
    }
}
.chart-error-message {
    color: $disabled-color;
    font-weight: 600;
    text-align: center;
}

/*
   Breakpoints
==========================================================================
*/

@media (max-width: map-get($breakpoints, phone)) {
    .chart-error-container.mobile-error {
        display: flex;
    }
}
