@import '../shared.scss';

/*
==========================================================================
   GenericBtn component
==========================================================================
*/

.generic-btn {
    -webkit-appearance: none;
    align-items: center;
    background-color: $primary-color;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: $primary-font-family;
    justify-content: center;
    padding: 17px;
    transition: background-color, 0.3s;

    .loading-spinner {
        border-color: $primary-color-dark;
        border-top-color: white;
        border-width: 3px;
        height: 14px;
        width: 14px;
    }
    &:hover {
        background-color: $primary-color-dark;
    }
    &:focus {
        outline: none;
    }
    &:disabled {
        background-color: $primary-color;
    }
    svg {
        fill: white;
        height: 20px;
        margin-left: 10px;
        width: 20px;
    }
}
