@import '../shared.scss';

/*
==========================================================================
   SectionHeader component
==========================================================================
*/

.section-header {
    display: flex;
    flex-direction: column;
}
.section-title {
    color: $primary-bg-color;
    margin: $big-margin $big-margin $small-margin $big-margin;
}
.section-subtitle {
    color: $disabled-color;
    margin: 0 $big-margin $big-margin;
    font-weight: 600;
}
