@import '../shared.scss';

/*
==========================================================================
   SideMenu component
==========================================================================
*/

$arrow-size: 10px;

.side-menu-container {
    background-color: $primary-color;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    transition: width 0.3s;
    width: 215px;
    z-index: 20;
}
.side-menu-items {
    -ms-overflow-style: none;
    background-color: $primary-bg-color;
    height: 100%;
    margin-top: 70px;
    overflow: auto;
    z-index: 25;

    .side-menu-item-title {
        left: 80px;
        position: absolute;
    }
}
.side-menu-items::-webkit-scrollbar {
    display: none;
}
.side-menu-item {
    align-items: center;
    border: none;
    color: $disabled-color;
    cursor: pointer;
    display: flex;
    height: 70px;
    font-size: 1.2em;
    fill: $disabled-color;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s;

    &:focus {
        outline: none;
    }
    &:hover {
        color: white;
        fill: white;
    }
    &.selected {
        color: white;
        fill: white;
    }
    svg {
        position: absolute;
        left: 25px;
        height: 30px;
        width: 30px;
    }
    &.brand-logo {
        -webkit-appearance: none;
        background-color: $primary-color;
        fill: white;
        left: 0;
        padding: 0;
        position: absolute;
        top: 0;
        width: 80px;
        z-index: 25;
    }
}
.side-menu-dark-overlay {
    background-color: $primary-bg-color;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    z-index: 15;
}
