@import '../shared.scss';

/*
==========================================================================
   SideMenu component
==========================================================================
*/

$arrow-size: 10px;

.side-menu-container {
    background-color: $primary-bg-color;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    width: 80px;
}
.side-menu-item {
    align-items: center;
    border: none;
    cursor: pointer;
    display: flex;
    height: 70px;
    font-size: 1.2em;
    fill: $disabled-color;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s;

    &:focus {
        outline: none;
    }
    &:hover {
        fill: white;
    }
    &.selected {
        fill: white;

        .arrow-left {
            display: block;
        }
    }
    svg {
        height: 30px;
        width: 30px;
    }
    &.brand-logo {
        background-color: $primary-color;
        fill: white;
    }
}
.arrow-left {
    border-bottom: $arrow-size solid transparent;
    border-right: $arrow-size solid $secondary-bg-color;
    border-top: $arrow-size solid transparent;
    display: none;
    height: 0;
    position: absolute;
    right: 0;
    top: calc(50% - #{$arrow-size});
    width: 0;
}
