@import '../shared.scss';

/*
==========================================================================
   SideMenu component
==========================================================================
*/

$arrow-size: 10px;

.side-menu-container {
    background-color: $primary-bg-color;
    height: 100%;
    overflow: hidden;
    transition: width 0.1s;
    width: 80px;
    z-index: 10;
}
.side-menu-items {
    -ms-overflow-style: none;
    height: 100%;
    margin-top: 70px;
    overflow: auto;
}
.side-menu-items::-webkit-scrollbar {
    display: none;
}
.side-menu-item {
    align-items: center;
    border: none;
    cursor: pointer;
    display: flex;
    height: 70px;
    font-size: 1.2em;
    fill: $disabled-color;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s;

    &:focus {
        outline: none;
    }
    &:hover {
        fill: white;
    }
    &.selected {
        fill: white;

        .arrow-left {
            display: block;
        }
    }
    svg {
        height: 30px;
        width: 30px;
    }
    &.brand-logo {
        -webkit-appearance: none;
        background-color: $primary-color;
        fill: white;
        left: 0;
        padding: 0;
        position: absolute;
        top: 0;
        width: 80px;
        z-index: 11;
    }
}
.arrow-left {
    border-bottom: $arrow-size solid transparent;
    border-right: $arrow-size solid $secondary-bg-color;
    border-top: $arrow-size solid transparent;
    display: none;
    height: 0;
    position: absolute;
    right: 0;
    top: calc(50% - #{$arrow-size});
    width: 0;
}

/*
   Breakpoints
==========================================================================
*/

@media (max-width: map-get($breakpoints, phone)) {
    .side-menu-container {
        left: 0;
        position: absolute;
    }
    .side-menu-item.selected {
        .arrow-left {
            display: none;
        }
    }
}
